@import "~bootstrap/scss/bootstrap";

$white: #fcfcfc;

body{
    background-color: $white;
}

.card {
    .card-title {
        font-size: 1.5rem;
    }
}

footer {
    padding: 2rem 0;
    background-color: #F8F9FA;
}