{% extends "base.twig" %}

{% block content %}
	<div class="container mt-4">
		<div class="row">
			{% for post in posts %}
			<div class="col-sm-6">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
			{% endfor %}
		</div>

		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
{% endblock %}
