{% extends "tease.twig" %}

{% block content %}
	<div class="card mt-2 mb-2">
		{% if post.thumbnail.src %}
			<img class="card-img-top" src="{{post.thumbnail.src}}" />
		{% endif %}
		<div class="card-body">
			<h2 class="card-title">{{post.title}} </h2>
			<p class="card-text">{{post.preview.length(25)}}</p>
			<a href="{{ post.link }}" class="btn btn-primary">Read More</a>
		</div>
	</div>

{% endblock %}